#header3 {
    background: #e7e7e7;
    display: none;
    position: absolute;
    width: 100%;
    top: 100px;
    right: 0px;
    height: calc(100vh - 100px);
    z-index: 1000;

}

#menu {
    list-style: none;  
}

#menu li {
    margin: 2rem 0;
}
 
#menu a {
    text-decoration: none;
}

#header3.active {
    display: flex;
}