body {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('https://img.freepik.com/vetores-premium/padrao-perfeito-com-livros-abertos-e-fechados-fundo-vetorial_651154-2116.jpg?size=626&ext=jpg&ga=GA1.1.386372595.1698105600&semt=ais');

    background-position: center;
    background-repeat: repeat;
    
}

/* Header */
header {
    width: 100%;
    display: flex;
    flex-direction: column;
} .header1 {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
} .header2 {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
} .navheader {
    width: 90%;
    display: flex;
    justify-content: space-around;
} .navbar {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    list-style: none;
} .navbar li {
    padding: 5px 45px 5px 45px;  /*preenchimento interno dos botões*/
    background-color: #98B8A5;  /*cor dos botões*/
    border-radius: 2px;
    text-align: center;  /*centralização do texto dentro dos botões*/
    min-width: 80px;      /* definição de larg minima do botão */
    transition: 0.3s;
} input {
    border: 2px solid transparent;
    width: 20em;
    height: 3em;
    padding-left: 0.8em;
    margin-right: 10px;
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 10px;
    transition: all 0.5s;
    border: 2px solid #98B8A5;
    box-shadow: 0px 0px 0px 2px rgb(68, 87, 75, 20%);
} input:hover,input:focus {
    border: 2px solid #98B8A5;
    box-shadow: 0px 0px 0px 7px rgb(68, 87, 75, 40%);
    background-color: white;
} .titulo {
    display: flex;
    align-items: center;
} .inicial{
    margin: 5px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    font-size: 40px;
} .itali {
    font-style: italic;
} .logoimg {
    width: 80px;
    height: 80px;
    border-radius: 10px;
} .navbar li:hover {
    background-color: #668573;  /*cor do contraste*/
    color: #fff;  /*Alterar a cor do texto para branco quando contraste */
    cursor:pointer;
    transform: scale(1.05);
} .navbar a {
    text-decoration: none;
    color: #ffffff;
} .dropdown {
    position: relative;
    display: grid;
    float: left;
} .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #ffffff00;
    min-width: 150px;
    list-style: none;
    padding: 0;
    border-radius: 2px;
} .dropdown:hover .dropdown-menu {
    display: block;
} .dropdown-menu li {
    padding: 10px;
    width: 100%;
} .dropdown-menu a {
    text-decoration: none;
} .dropdown-menu li:hover {
    background-color:  #668573;
}

/* Main */
main {
    margin-top: 30px;
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom, transparent 0.1%, white 8%);
} main section {
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} .divsecmain {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
} .divmain {
    width: 32%;
    height: 80%;
    background-color: #668573;
    border-radius: 5px;
    display: flex;
    transition: 0.3s;
    justify-content: space-between;
    text-decoration: none;
} .divmain:hover {
    transform: scale(1.05);
    box-shadow: 0.5px 0.5px 3px 1px rgba(26, 26, 26, 0.604);
    cursor: pointer;
} .divmain:hover h1 {
    transition: 0.3s;
    color: white;
    font-size: 26px;
} .bookimg {
    width: 45%;
    height: 100%;
    border-radius: 5px 0px 0px 5px;
} .txtmain {
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
} .txtback {
    font-size: 100%;
    height: auto;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: #98B8A5;
    text-align: center;
} .txth1 {
    margin: 2px;
    text-align: center;
} .txtmain p {
    width: 85%;
    font-size: 85%;
} .pesquisa {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
} .imgpesquisa {
    width: 50px;
    height: 50px;
    border-radius: 2px;
} li {
    list-style: none;
} a {
    text-decoration: none;
    color: black;
} .divsecmain2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: inset -0.5px 0.5px 5px 0.5px rgba(0, 0, 0, 0.155);
    margin-bottom: 30px;
} .divsecmain2 a {
    width: 200px;
    height: 140px;
    margin: 5px;
    padding: 2px;
    background-color: #9FBDA8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: 0.3s;
}  .imginicial {
    height: 100%;
    width: 45%;
    border-radius: 4px;
} .divsecmain2 a div {
    height: 100%;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} .divsecmain2 a:hover {
    transform: scale(1.05);
    box-shadow: 0.5px 0.5px 3px 1px rgba(26, 26, 26, 0.604);
    background-color: #668573;
    cursor: pointer;
} .books {
    display: flex;
    flex-direction: row;
} .books1 {
    width: 40%;
} .books2 {
    width: 60%;
} .book-details {
    margin-top: 20px;
} .book-details form{
    margin: 5px;
} .book-cover {
    width: 40%;
    height: 80%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
} h1 {
    text-align: center;
    color: #333333;
} h2 {
    color: #333333;
} p {
    color: #666666;
    margin-bottom: 10px;
} .button-alugar {
    text-align: center;
    width: 100px;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease;
} .button-devolver {
    text-align: center;
    width: 100px;
    background-color: #5b5b5b;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease;
} .button-alugar:hover {
    background-color: #45a049;
}



/* Footer */
footer {
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
} footer ul {
    padding: 0;
    margin: 0;
}.row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
}





