{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/style5.css' %}">

<main>
  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.GET.next }}">
    {{ form.username.label_tag }}
    {{ form.username }}
    {{ form.password.label_tag }}
    {{ form.password }}
    <button type="submit" name="login">Login</button>
  </form>

  <p><a href="{% url 'angeline:register' %}">Registrar-se</a></p>
  <br>
  <p><a href="/admin">admin</a></p>
</main>