{% load static %}
<section class="header1">
    <div class="titulo">
        <img src="{% static 'main/OIG.jpg' %}"></img>
        <h1>Bookstoire</h1>
    </div>
    <div></div>
    <div>
        <input type="text" id="meuCampoDeTexto" name="meuCampoDeTexto">
    </div>
</section>
<section class="header2">
    <nav class="navheader">
        <ul class="listaheader">
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
            <li>Item 5</li>
            <li>Item 6</li>
        </ul>
    </nav>
</section>
