{% load static %}
<section class="header1">
    <div class="titulo">
        <img class="logoimg" src="{% static 'main/OIG.jpg' %}"></img>
        <h1>Bookstoire</h1>
    </div>
    <div></div>
    <div>
        <input class="campoDePesquisa" type="text" id="meuCampoDeTexto" name="meuCampoDeTexto">
    </div>
</section>
<section class="header2">
    <nav class="navheader">
        <ul class="listaheader">
            <li>Quem somos</li>
            <li>Politicas de Privacidade</li>
            <li>Créditos</li>
            <li>Biblioteca Digital</li>
        </ul>
    </nav>
</section>
<header id="header3">
<nav id="nav">
    <button id="btn-mobile">Memu</button>
    <span id="hamburger"></span>
    </button>
    <ul id="menu">
        <li><a href="/">Romance</a></li>
        <li><a href="/">Poesis</a></li>
    </ul>
   </nav>
<header3>       
        


