{% load static %}
<section class="header1">
    <div class="titulo">
        <a class="inicial" href="{% url 'angeline:helloworld' %}">
            <img class="logoimg" src="{% static 'main/OIG.jpg' %}"></img>
            <h1>Bookstoire</h1>
        </a>
    </div>
    <div></div>
    <div>
        <form method="get" action="{% url 'angeline:pesquisar_livros' %}">
            <input type="text" id="meuCampoDeTexto" name="meuCampoDeTexto">
        </form>
    </div>
</section>
<section class="header2">
    {% block navbar %}
            {% include 'main/nav.html' %}
    {% endblock %}
</section>
