<nav class="navheader">
    <ul class="navbar">
        <li class="dropdown">
            <a>Categorias</a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'angeline:categlivro' 1 %}">Auto ajuda</a></li>
                <li><a href="{% url 'angeline:categlivro' 2 %}">Suspense</a></li>
                <li><a href="{% url 'angeline:categlivro' 3 %}">Romance</a></li>
                <li><a href="{% url 'angeline:categlivro' 4 %}">Biografias</a></li>
                <li><a href="{% url 'angeline:categlivro' 5 %}">Terror</a></li>
                <li><a href="{% url 'angeline:categlivro' 6 %}">Ficção</a></li>
            </ul>
        </li>
        <li><a href="#">Quem somos</a></li>
        <li><a href={% url 'angeline:alugados' %}>Alugados</a></li>
        <li><a href="#">Créditos</a></li>
        <li><a href="#">Biblioteca</a></li>
        <li><a href="{% url 'angeline:login' %}">Login</a></li>
    </ul>
</nav>
