<nav class="navheader">
    <ul class="listaheader">
        <li><a href="{% url 'angeline:categlivros' info.id %}">Cursos</a></li>
        <li><a href="{% url 'angeline:categlivros' info.id %}">Suspense</a></li>
        <li><a href="{% url 'angeline:categlivros' info.id %}">Romance</a></li>
        <li><a href="{% url 'angeline:categlivros' info.id %}">Biografia</a></li>
        <li><a href="{% url 'angeline:categlivros' info.id %}">Terror</a></li>
        <li><a href="{% url 'angeline:categlivros' info.id %}">Ficção</a></li>
    </ul>
</nav> 