{% extends "main/base.html" %}
{% load static %}

{% block content %}
<section>
    <h1>Detalhes do Livro</h1>
    <img class="book-cover" src="{% static livro.linkimg %}" alt="Capa do Livro">
</section>
<section>
    <div class="book-details">
        <h2>{{ livro.nome }}</h2>
        <p>Autor: Nome do Autor</p>
        <p>Ano de Publicação: 20XX</p>
        <p>Sinopse: {{ livro.resumo }}</p>
        <form method="post" id="100" action="{% url 'angeline:alugar_livro' livro.id %}">
            {% csrf_token %}
            <button type="submit">Alugar</button>
        </form>
    </div>
</section>
<section>
    {% if mensagem %}
        <p>{{ mensagem }}</p>
    {% endif %}
</section>
{% endblock %}
