{% extends "main/base.html" %}
{% load static %}

{% block content %}

<section>
    <h1> MELHORES LIVROS </h1>
    <section class="">
        <div class="divsecmain">
        {% for categ, info in novo_dic1.items %}
        <a class="divmain" href="{% url 'angeline:alugar_livro' info.id %}">
            <img class="bookimg" src="{% static info.linkimg %}" />
            <div class="txtmain">
                <h1 class="txth1">{{ info.nome }}</h1>
                <div class="txtback">
                    <p>
                        {{ info.resumo }}
                    </p>
                </div>
            </div>
        </a>
        {% endfor %}
        </div>
        <div class="divsecmain">
        {% for categ, info in novo_dic2.items %}
            <a class="divmain" href="{% url 'angeline:alugar_livro' info.id %}">
                <img class="bookimg" src="{% static info.linkimg %}" />
                <div class="txtmain">
                    <h1 class="txth1">{{ info.nome }}</h1>
                    <div class="txtback">
                        <p>
                            {{ info.resumo }}
                        </p>
                    </div>
                </div>
            </a>
        {% endfor %}
        </div>
    </section>
</section>
<section>
    <div class="divsecmain2">
        {% for categoria, livros in resultados.items %}
                {% for chave, livro in livros.items %}
                <a href="{% url 'angeline:alugar_livro' livro.id %}">
                        <img class="imginicial" src="{% static livro.linkimg %}" alt="Capa do Livro">
                        <div>
                            <strong>{{ livro.nome }}</strong>
                        </div>
                </a>
                {% endfor %}
        {% endfor %}
    </div>
</section>

{% endblock %}